.main__body{
    margin: 0px;
    padding: 0px;
    height:100%;
}

.mov__posters{
    display: flex;
    align-items: center;
    align-items: flex-end;
    font-weight:bold;
}

.hastooltip + div {
    display: none;
    position: absolute;
    border: 1px solid black;
    background-color: white;
}
.hastooltip:hover + div, .hastooltip + div:hover { display: block; }